* { box-sizing: border-box; }

body {
    margin: 1;
    margin-left: 0;
}

.col {
  border: thin solid blue;
  width: 33.333333333%;
  float: left;
  overflow: hidden;
}

.Col {
  border: thin solid red;
  width: 10%;
  float: left;
  overflow: hidden;
  background-color: #0066ff;

}


.playground {

  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.top-menu {
  border: thin solid blue;
  width: 90%;
  float: right;
  background-color: #ffff00;

}
.ind{
  border: thin solid green;
  width: 10%;
  float: left;
  overflow: hidden;
  background-color: #0066ff;

}
